@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
}

.side-nav{
  background-color: skyblue;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 50px;
  font-family: 'Roboto', sans-serif;

}
.side-nav ul{

}

a{
  text-decoration: none;
  color: initial;
  /* font-weight: bold; */
  font-size: 1.125rem;
}
.side-nav ul > *{
margin: 20px 0;
}
.side-nav ul li{
list-style: none;
}