<div class="side-nav">
    <ul>
      <li><a href="/admin">Home</a></li>
      <li><a href="/admin/blogs">Blogs</a></li>
      <li><a href="/admin/new-blog">Add new Blog</a></li>
      <li><a href="/admin/new-admin">Add admin</a></li>
    </ul>
  </div>