<footer>
    <div class="logo">
        <a href="/"><img src="/img/dark-logo.png" alt="" width="180"></a>
    </div>
    <div class="info">
        <h4>Quick links</h4>
        <hr>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contacts">Contact</a></li>
        </ul>

    </div>
    <div class="social">
        <h4>Social links</h4>
        <hr>
        <ul>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </ul>
    </div>
</footer>
<script src="https://kit.fontawesome.com/5b64da542e.js" crossorigin="anonymous"></script>
